@charset "UTF-8";

@font-face {
    font-family: 'idroid.otf';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte2: 'Android', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #eeeeee;
    font-family: var(--fonte-padrao);
}
 
header{
    padding: 1px;
    border: auto;
    text-align: center;
    background-image: linear-gradient(to bottom, #3DDC84, #2fa866, #1a5c37, #063d1e);
}

header > h1{
    color: white;
    font: bolder 2em "Bebas Neue", sans-serif;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.212);
    
}

header > p{
    color: #ffffff;
    font: lighter 0.9em 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.212);
    padding: 10px;
    text-align: center;
}

nav{
    text-align: left;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.212);
}

nav > a{
    padding: 5px 10px;
    color: var(--cor1);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    transition-duration: .5s;
    
}

nav >a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    text-decoration: none;
    
}

main{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    border: 20px 20px;
}

main h1{
    font-family: 'idroid.otf';
    font-weight: normal;
    font-size: 1.8em;
    color:#1d831d;
}

main h2{
    font-family: 'idroid.otf';
    font-weight: normal;
    color:#23a023;
    background-image:linear-gradient(to right, var(--cor1), transparent);
}

main p{
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: var(--cor2);
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

div.video{
    background-color: #063d1e;
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 56.7%;
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90%;
    height: 90%;
}

main img.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}

.decorlink::after{
    content: '\1f517';
}

a{
    color:#397a56;
    
    text-decoration: none;
    font-weight: bolder;
    
}

p{
    font-family: var(--fonte1);
    font-weight: normal;
    font-size: 0.8em;
    text-indent: 30px;
    text-align: justify;
    margin: 5px;
}

#titul{
    font-family: var(--fonte);
    font-weight: normal;
    text-shadow: 1px 2px #22222248;
}

aside{
    background-color: #9ef8ce;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
    padding: 10px;
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > p{
    padding: 10px;
    
}

aside ul{
    font: lighter 0.9em 'Bebas', sans-serif;
    list-style: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 3;
    text-decoration: none;
}



footer{
    background-color: #084b25;
}

footer p{
    font: bold 0.8em 'Bebas Neue', sans-serif;
    text-align: center;
    color: #ffffffd5;
}

footer span{
    color: #83E1AD;
}